html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}
/* Заголовок страницы */
header {
    background-color:#4F607F;
    color:white;
    text-align:center;
    padding:5px;
}

/* Блок со списком организации */
nav {
    line-height:30px;
    background-color:#eeeeee;
    height:700px;
    width:340px;
    float:left;
    padding:5px;
}

/* Секция со сведеньями об организации */
section {
    width:580px;
    float:left;
    padding:10px;
}

footer {
    background-color:#4F607F;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
    font-size: small;
}

/* Все заголовки */
h2,h3 {
    color: #040939;
}

.js_valid_error{
    color:darkred;
}

.alert-box {
    color:#555;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
    padding:10px 10px 10px 36px;
    margin:10px;
    position:absolute;z-index:999;
}

.alert-box span {
    font-weight:bold;
    text-transform:uppercase;
}

.error {
    background:#ffecec no-repeat 10px 50%;
    border:1px solid #f5aca6;
}
.success {
    background:#e9ffd9 no-repeat 10px 50%;
    border:1px solid #a6ca8a;
}
.warning {
    background:#fff8c4 no-repeat 10px 50%;
    border:1px solid #f2c779;
}
.notice {
    background:#e3f7fc no-repeat 10px 50%;
    border:1px solid #8ed9f6;
}

.text-field{
    width: 135px;
}
.comment{
    width: 412px;
    min-height: 110px;
    color: saddlebrown;
    display:none; resize:none; overflow:hidden
}
.ui-widget-content {
    border: none;
}
.ui-widget-header {
    border: none;
    background-color: #4F607F;
}
.ui-tabs{
    padding: 0em;
}
#main_tabs .ui-tabs-panel{
    background-color: white;
}
#main_tabs .ui-tabs-nav li {
    margin-top: 0.6em;
    font-size: 80%;
    background-color: white;
}
#main_tabs .ui-tabs-nav li.ui-tabs-selected,
#main_tabs .ui-tabs-nav li.ui-state-active {
    margin-top: 0em;
    font-size: 100%;
}
td.edit {
    background-image: url("/css/images/edit.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
}
td.remove {
    background-image: url("/css/images/delete.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
}